extends layout

block title
  | Swisstopo Infrastructure Dashboard

block content
  div.gridster
    ul
      li(data-row='1', data-col='1', data-sizex='2', data-sizey='1')
        div(data-id='Clock', data-view='Clock')

      li(data-row='1', data-col='1', data-sizex='4', data-sizey='1')
        div(data-id='welcome', data-view='Text',
          data-title='Welcome to the swiss geoportal dashboard.',
          data-moreinfo='You can drag the widgets around!')

      li(data-row='1', data-col='1', data-sizex='4', data-sizey='1')
        div(data-id='tilesFlow', data-view='Graph',
          data-title='Tiles downloaded during the last hour')

      li(data-row='1', data-col='1', data-sizex='2', data-sizey='5')
        div(data-id='Twitter', data-view='Twitter',
          data-title='@swiss_geoportal')

      li(data-row='1', data-col='1', data-sizex='4', data-sizey='3')
        div(data-id='Heatmap', data-view='Heatmap')

      li(data-row='1', data-col='1', data-sizex='2', data-sizey='2')
        div(data-id='tiles_per_minute', data-view='Meter',
          data-title='Tiles per Minute', data-min='0', data-max='50000')

      li(data-row='1', data-col='1', data-sizex='2', data-sizey='2')
        div(data-id='queries_per_minute', data-view='Meter',
          data-title='Queries per Minute', data-min='0',data-max='500')

      li(data-row='1', data-col='1', data-sizex='2', data-sizey='3')
        div(data-id='wmts_top_layers', data-view='List',
        data-title='TOP Layers')
      // div(data-id='topwmslayers', data-view='List', data-title='Top WMTS Layers')

      li(data-row='1', data-col='1', data-sizex='2', data-sizey='3')
        //free for additionnal content

      li(data-row='1', data-col='1', data-sizex='4', data-sizey='1')
        div(data-id='mapVisits', data-view='Graph',
          data-title='Unique visitors using map.geo.admin.ch during last hour')

      li(data-row='1', data-col='1', data-sizex='4', data-sizey='1')
        div(data-id='welcome', data-view='Text',
          data-title='The COGIS team wishes you a pleasant visit at Swisstopo')

block scripts
  script.
    $(function() {
      Dashing.widget_base_dimensions = [180,165]
      Dashing.numColumns = 10
    });
